<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coding Bull Interview</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- My Custom CSS -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
</head>
<body>
  <%- include ./partials/header.ejs %>

    <!-- Page-specific (main) content here -->
    <main class="container">

      <!-- User creates new tweets here -->
      <section class="new-post">
        <div class='row'>
          <div class='col-sm-2'>
          </div>
          <div class='col-sm-8'>
            <form method='post' action='/api/new'>
            <h1>
              Make a Journal Entry
            </h1>
              <div class='input-group full-width'>
                <input class='full-width form-control' name='title' type='text' placeholder='Title' autoFocus='true' />
                <hr />
                <textarea class='full-width form-control' name='body' type='text' rows='5' placeholder='How are you feeling today?'></textarea>
                <hr />
                <button type='submit' class='btn'>Submit</button>
              </div>
            </form>
          </div>
          <div class='col-sm-2'>
          </div>
        </div>

        <div class='row'>
          <div class='col-sm-2'>
          </div>
          <div class='col-sm-8'>
            <% entries.forEach(item => { %>
              <div class='well'>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="https://placebear.com/100/100" alt="Just a placeholder">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%- item.title %></h4>
                    <%- item.body %>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
          <div class='col-sm-2'>
          </div>
        </div>
      </section>

      <!-- Here is where the most recent tweets pop up -->
      <section id='post-container'>
      </section>

    </main>


  <!-- jQuery JS-->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript" src='/scripts/app.js'></script>
</body>
</html>